<form class="row g-3">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      [(ngModel)]="inputsearchbar"
      name="inputsearchbar"
      #inputbar
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      placeholder="Please enter an artist name."
      (keyup)="onKeypressEvent(inputbar.value)"
    />
  </div>
  <div class="form-group text-center">
    <button
      id="submit-button"
      class="btn btn-primary button--loading"
      type="submit"
      [disabled]="!isinput"
      (click)="searchArtist()"
    >
      <span class="sr-only">Submit</span>
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
        id="spinner"
        *ngIf="isLoad"
      ></span>
    </button>
    <input
      id="clear-button"
      class="btn btn-primary"
      type="reset"
      value="Clear"
      [disabled]="!isinput"
      (click)="clearInput()"
    />
  </div>
</form>

<div class="alert alert-danger" role="alert" *ngIf="artistsNull">
  No results.
</div>

<div class="container" id="artistListContainer" *ngIf="loadArtistList">
  <ul>
    <button
      *ngFor="let artist of jsonobj"
      class="artists"
      id="{{ artist.id }}"
      type="button"
      (click)="getArtist($event)"
    >
      <!-- <div class="card" style="width: 15rem">
        <img
          id="{{ artist.id }}"
          src="{{ artist.image }}"
          class="card-img-top"
          alt=""
        />
        <div id="{{ artist.id }}" class="card-footer">{{ artist.title }}</div>
      </div> -->
      <img src="{{ artist.image }}" />
      <div>{{ artist.title }}</div>
    </button>
  </ul>
</div>

<!-- [style.background]="selected==i?'red':'grey'" -->
